.headerPrincipal .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerPrincipal-nav {
	display: flex;
}

.presentacion {
	display: flex;
	border: solid black;
}