body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #0d2de2 0%, #0d2d 100%); 
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 94%;
    padding-right: 20px;
    padding-left: 20px;
}

.logo {
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-left: 20px;
    transition: 0.5s;
}

.logo:hover{
    transform: scale(1.1);
}