.presentacion {
    /* border: solid red; */
    display: flex;
    height: auto;
    margin-top: 20px;
    width: 100%;
}

.datos_personales {
    align-items: center;
    /* border: solid blue;  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
}

.datos_personales__presentacion h1 {
    color: #bcc6d6;
    font-size: 3.5rem;
    padding: 15px;
    text-transform: uppercase;
    text-align: justify;
    width: auto;
}

.datos_personales__presentacion p {
    color: #eed9d9;
    font-size: 1.5rem;
    padding: 15px;
    text-align: justify;
}

.content__buttons {
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.content__buttons button {
    width: 100px;
    height: 25px;
    border: 1px solid white;
    background: #68859c;
    color: #ffffff;
    border-radius: 5px;
}

.content__buttons___btn:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.image {
    /* border: solid red; */
    width: auto;
    /*background-color: #000000; */
}

.img__wrapper {
    scale: .80;
    /* max-width: 230px;
    position: relative; */
}

.img__wrapper img {
    width: 100%;
    display: block;
    border-radius: 50%;
    /* border: solid 1px #0ebfcc; */
    /* margin-top: 130px;  */
}

.img__wrapper::before {
    content: "";
    position: absolute;
    inset: -15px;
    border: 6px solid #d1e3f3;
    border-top-color: blue;
    border-bottom-color: blue;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 428px) {
    .image{
        display: none;
    }
    .img__wrapper{
        width: 120px;
        justify-content: center;
    }
    .img__wrapper img {
        margin-top: 20px;
    }

    .img__wrapper::before {
        display: none;
    }

    .datos_personales{
        display: flex;
        width: 100%;
        scale: .80;
    }
    .datos_personales__presentacion h1{
        font-size: 2rem;
        text-align: justify;
    }
    .datos_personales__presentacion p{
        font-size: 1.5rem;
        text-align: justify;
    }
    .content__buttons{
        display: flex;
        justify-content: center;
        scale: .80;
    }
}
    
