footer{
    align-items: center;
    background-color: #020731;
    border-top: 2px solid #020731;
    /* box-shadow: 2px 2px 2px rgb(238, 236, 236); */
    display: flex;
    height: 80px;
    justify-content: center;
    width: 100%;
}

footer p{
    color: #f1f2f7;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}