.headerPrincipal .container{
    align-items: center;
    background-color: #020731;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerPrincipal_nav{
    display: flex;
}

.nav__link{
    color: white;
    display: block;
    font-family: Open Sans,'sans-serif';
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    transition: 0.7s;
}

.nav__link:hover{
    background-color: white;
    border-radius: 5%;
    color: #11404b;
}