.about__me {
    width: 100%;
    height: auto;
}

.about__me__content{
    border: transparent; 
    /* margin-left: 80px;
    margin-right: 80px; */
}

.about__me__content h2{
    color: #bcc6d6;
    padding: 15px;
    padding-bottom: 0;
    font-size: 2.5rem;
    margin-top: 0px;
}

.about__me__content p{
    color:#eed9d9;
    font-size: 1.5rem;
    padding: 15px ;
    text-align: justify;
    /* line-height: 25px; */
    /* padding-right: 500px; */
    /* word-spacing: 3px; */
}

.about__me__content a{
    color: #051825;
    text-decoration: none;
}

@media screen and (max-width: 428px) {
    .about__me__content{
        margin-left: 0px;
        margin-right: 0px;
    }
    .about__me__content h2{
        font-size: 2rem;
    }
    .about__me__content p{
        font-size: 1.2rem;
        text-align: justify;
    }
}