.formacion {
    /* border: solid red; */
    background-color: #020731;
    display: grid;
    height: auto;
    grid-template-columns: 33.3% 33.3% 33.3%;
    /* grid-row: 100%; */
    /* background: url("img/Logo.png") center / cover no-repeat; */
    /* box-shadow: inset 0 0 30px 15px rgba(0, 0, 0, 0.5); */
    width: 100%;
}
#formacion h2 {
    align-items: center;
    color: #bcc6d6;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

#formacion h3 {
    color: #bcc6d6;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}


.formacion__cards {
    align-items: center;
    /* border: solid blue; */
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;

}


.formacion__cards h2 {
    color: #bcc6d6;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
}

.formacion__cards p {
    color: #bcc6d6;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
}
.formacion__cards img {
    border-radius: 15px;
    height: 250px;
    width: 250px;
    scale: 0.9; 
    object-fit: contain;
    box-shadow: 2px 2px 5px #bcc6d6;
}
.formacion__cards img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width:428px){
    .formacion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 100%;
    }
    
}