#proyectos {
    /* border: solid red; */
    /* background-color: #020731; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#proyectos h2 {
    align-items: center;
    color: #bcc6d6;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.proyecto img {
    box-shadow: 2px 2px 5px #e9ecf0;
    height: auto;
    scale: .9;
    width: 100%;
}

.proyecto_buttons {
    /* border: solid white;  */
    display: flex;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons {
    align-items: center;
}

.code {
    background-color: #2113f1;
    border-radius: 10px;
    border: solid whitesmoke;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.demo {
    background-color: #2113f1;
    border-radius: 10px;
    border: solid whitesmoke;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.code:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.demo:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}